n8n/workflows/rag_chat_local.json
{
  "name": "RAG Chat Local",
  "nodes": [
    {
      "parameters": {
        "path": "chat",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "1",
      "name": "Webhook Chat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 280]
    },
    {
      "parameters": {
        "url": "http://ollama:11434/api/embeddings",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"bge-m3\",\n  \"prompt\": $json.body.question\n}",
        "options": {}
      },
      "id": "2",
      "name": "Embedding Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 280]
    },
    {
      "parameters": {
        "jsCode": "const selected = $('Webhook Chat').item.json.body.selectedDocumentIds || [];\nconst body = {\n  vector: $json.embedding,\n  limit: 8,\n  with_payload: true\n};\nif (Array.isArray(selected) && selected.length > 0) {\n  body.filter = {\n    must: [\n      {\n        key: 'documentId',\n        match: { any: selected }\n      }\n    ]\n  };\n}\nreturn [{ json: body }];"
      },
      "id": "3",
      "name": "Build Search Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 280]
    },
    {
      "parameters": {
        "url": "http://qdrant:6333/collections/rag_docs/points/search",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "id": "4",
      "name": "Search Qdrant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 280]
    },
    {
      "parameters": {
        "jsCode": "const question = $('Webhook Chat').item.json.body.question || '';\nconst hits = $json.result || [];\nconst topHits = hits.slice(0, 6);\nconst contextBlocks = topHits.map((h, idx) => {\n  const text = h.payload?.text || '';\n  const fileName = h.payload?.fileName || 'unknown';\n  return `[${idx + 1}] (${fileName}) ${text}`;\n});\nconst prompt = `Ban la tro ly RAG.\nChi duoc tra loi dua tren context duoi day.\nNeu khong du du lieu, noi ro khong du du lieu.\n\nContext:\n${contextBlocks.join('\\n\\n')}\\n\\nQuestion: ${question}`;\nconst sources = topHits.map((h) => h.payload?.fileName || 'unknown');\nreturn [{ json: { prompt, sources } }];"
      },
      "id": "5",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 280]
    },
    {
      "parameters": {
        "url": "http://ollama:11434/api/chat",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen2.5:7b-instruct-q4_K_M\",\n  \"stream\": false,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Ban la tro ly noi bo. Phai trich dan nguon tu context.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": $json.prompt\n    }\n  ]\n}",
        "options": {}
      },
      "id": "6",
      "name": "Generate Answer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1410, 280]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"answer\": $json.message.content,\n  \"sources\": $('Build Prompt').item.json.sources\n}",
        "options": {}
      },
      "id": "7",
      "name": "Respond Chat",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1630, 280]
    }
  ],
  "connections": {
    "Webhook Chat": {
      "main": [[{ "node": "Embedding Query", "type": "main", "index": 0 }]]
    },
    "Embedding Query": {
      "main": [[{ "node": "Build Search Query", "type": "main", "index": 0 }]]
    },
    "Build Search Query": {
      "main": [[{ "node": "Search Qdrant", "type": "main", "index": 0 }]]
    },
    "Search Qdrant": {
      "main": [[{ "node": "Build Prompt", "type": "main", "index": 0 }]]
    },
    "Build Prompt": {
      "main": [[{ "node": "Generate Answer", "type": "main", "index": 0 }]]
    },
    "Generate Answer": {
      "main": [[{ "node": "Respond Chat", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "versionId": "2"
}
